---
layout: layouts/base.html
---


{%- assign type = page.collection_type %}
{% assign sections = collections.all.tags | where: collection_type, type %}

{%- assign crumbs = sections.inputPath | split: '/' %}
{%- assign id = crumbs.last %}
  {%- for page in sections %}
  <section id="{{id}}" class="content-section {{ page.bg-color }}">
    <article>
      <div class="{{ page.container-size }}{%- if page.container-size == "small" or page.container-size == "medium" %}-{%- endif %}container {{ page.style }}">
        {%- if page.title %}<h{{ page.heading }}>{{ page.title | upcase }}</h{{ page.heading }}>{% endif %}
        {%- capture font %}{% include components/impact-font.html %}{% endcapture %}
        {%- if page.impact-font %}{{ font }}{%- endif %}
        {{ page.content }}
      </div>
    </article>
  </section>
  {%- endfor %}
