---
layout: layouts/base.html
---

{%- for section in collections[section_type] -%}
{%- assign crumbs = sections.inputPath | split: '/' %}
{%- assign id = crumbs.last %}
  <section id="{{id}}" class="content-section {{ bg-color }}">
    <article>
      <div class="{{ container-size }}{%- if container-size == "small" or container-size == "medium" %}-{%- endif %}container {{ style }}">
        {%- if title %}<h{{ heading }}>{{ title | upcase }}</h{{ heading }}>{% endif %}
        {%- capture font %}{% include components/impact-font.html %}{% endcapture %}
        {%- if impact-font %}{{ font }}{%- endif %}
        {{ section.templateContent }}
      </div>
    </article>
  </section>
  {%- endfor %}
