<footer class="{% if path == 'home' %}fixed{% endif %}  bottom-0 text-center w-full py-4">
    <small class="text-gray-500">Copyright ©
        {{pages.settings.name}}
        {{ "now" | date: "%Y" }}. Made with ❤ by
        <a href="{{settings.url}}" target="_blank" class="underline" rel="noopener">{{pages.settings.author}}</a>
        •
        <a href="https://github.com/woodcock3/11up" class="underline" target="_blank" rel="noopener">View on Github</a>
    </small>
</footer>
{%- if path == "home" %}<!-- Netlify Identity Widget -->
<!-- Needed only if you are using Netlify Identity feature -->
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{%- endif %}

  </body>
</html>
